.search-slt{
    position: absolute;
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    margin-top: -12px;
    margin-left: -19px;
}
.next{
    background-color: red;
}
#auto{
    position: absolute;
    bottom: 150px;
}
.banner__pic{
    width:70%;
    
}
.input{
    width:100%;
    font-size: 24px;
    height:80%;
}
.statistics-img, .service-img{
    width:30%;
}
.single-service-box{
    background-color:white;
    .service-content h2, p{
        color:rgb(36, 34, 34);
        font-size: 20px;
    }
}
.single-travel-boxes {
    margin-top: -175px;
    background: #fff;
}

.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.service {
    position: relative;
    padding: 80px 0 0px;
}