.header__top__right {
    text-align: right;
    padding: 27px 0px 22px !important;
}
.button {
    background-color:white;
    border-color:green;
    color: black ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;

    &:hover{
        background-color: green;
    }
    
  }
  .button2{
    background-color:white;
    border:none;
    color: black ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    &:hover{
        background-color: gray;
}
  }
  .header__top {
    background: white !important;
}