.navbar-nav{
  float:right;
  text-align: left;
}
.navbar{
  margin-bottom: 0px !important;
}
.container{

  img{
    height:auto;
    width:50%;
  }
  .navbar-brand {
    float: right;
    height: 50px;
    padding: 0px 0px;
    font-size: 5px;
    line-height: 20px;
}
}